@model IEnumerable<LMS.Models.ApplicationUser>
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;

@{
    ViewBag.Title = "See All Users";
}

<h2>See All Users</h2>
<p>
    @using (Html.BeginForm("UpdateUsers", "Account"))
    {
        <input type="submit" value="Update Users" />
    }
</p>
<p>
    @Html.ActionLink("Create New", "CreateUser")
</p>
<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            First name
        </th>
        <th>
            Last names
        </th>
        <th>
            Role
        </th>
        <th>
            Course
        </th>
        <th>
        </th>
    </tr>
    @{
        var users = Model.ToArray();
        foreach (var user in users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.LastName)
                </td>
                <td>
                    @{
                        var userManager = Request.GetOwinContext().GetUserManager<ApplicationUserManager>();
                        var userRoles = userManager.GetRoles(user.Id);
                        var role = userRoles[0];

                        @Html.DisplayFor(s => role);
                    }
                </td>
                <td>
                    @Html.ActionLink(user.Course.Name, "Details", "Courses", new { id = user.CourseId }, new { })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = user.Id })
                </td>
            </tr>}
    }

</table>
