@model IEnumerable<LMS.Models.StudentActivityViewModel>
<h2>Handle class</h2>
<h3>@Model.FirstOrDefault().ActivityName</h3>


<h4>Students</h4>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Status
        </th>
        <th>
            Grade
        </th>
        <th>
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td id="@item.Status.ToString()">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td id="@item.Grade.ToString()">
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditStudent", "StudentActivities", new { activityId = item.ActivityId, studentId = item.StudentId }, new { })
            </td>
            <td>
            </td>
        </tr>
    }
</table>

<h4>Homeworks</h4>

<table class="table">
    <tr>
        <th>
            Uploader
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Filename
        </th>
        <th>
        </th>
    </tr>

    @{
        var sortedModel = Model.OrderBy(s => s.StudentName).ToList();

        foreach (var item in sortedModel)
        {
            foreach (var doc in item.Documents)
            {
            <tr>
                <td title="@doc.Uploader.FullName">
                    @Html.DisplayFor(docItem => doc.Uploader.UserName)
                </td>
                <td>
                    @Html.DisplayFor(docItem => doc.Name)
                </td>
                <td>
                    @Html.DisplayFor(docItem => doc.Description)
                </td>
                <td>
                    @Html.ActionLink(
                  linkText: doc.FileName,
                  actionName: "Download",
                  controllerName: "Documents",
                  routeValues: new { id = doc.Id, objectId = ViewBag.id, returnAction = "HandleClass", returnController = "StudentActivities" },
                  htmlAttributes: null
              )
                </td>
                <td>
                    @Html.ActionLink(
                  linkText: "Delete",
                  actionName: "Remove",
                  controllerName: "Documents",
                  routeValues: new { id = doc.Id, objectId = ViewBag.id, returnAction = "HandleClass", returnController = "StudentActivities" },
                  htmlAttributes: null
              )
                </td>
                </tr>

                <tr>
                    <td>
                        @using (Html.BeginForm("Comments", "Documents", FormMethod.Post))
                        {
                            <input type="hidden" name="id" value="@doc.Id">
                            <input type="hidden" name="returnId" value="@ViewBag.id">

                            @Html.EditorFor(docItem => doc.Comments, "string", "comments");
                            <input type="submit" value="Write Comments" />
                        }
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            }
        }
        }
</table>

<h4>Documents</h4>

<table class="table">
    <tr>
        <th>
            Uploader
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Filename
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Documents)
    {
        <tr>
            <td title="@item.Uploader.FullName">
                @item.Uploader.UserName
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @Html.ActionLink(
             linkText: (string)item.FileName,
             actionName: "Download",
             controllerName: "Documents",
             routeValues: new { id = item.Id, objectId = ViewBag.id, returnAction = "HandleClass", returnController = "StudentActivities" },
             htmlAttributes: null
         )
            </td>
            <td>
                @Html.ActionLink(
             linkText: "Delete",
             actionName: "Remove",
             controllerName: "Documents",
             routeValues: new { id = item.Id, objectId = ViewBag.id, returnAction = "HandleClass", returnController = "StudentActivities" },
             htmlAttributes: null
         )
            </td>
        </tr>
    }

</table>

@Html.ActionLink(
    linkText: "Upload Document",
    actionName: "Upload",
    controllerName: "Documents",
    routeValues: new { documentType = LMS.Models.Document.DocumentTypes.Activity, objectId = ViewBag.id, returnAction = "HandleClass", returnController = "StudentActivities" },
    htmlAttributes: new { @class = "btn btn-primary btn-md" }
)