@model IEnumerable<LMS.Models.Module>
@using Microsoft.AspNet.Identity

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @item.StartDate.ToShortDateString()
            </td>
            <td>
                @item.EndDate.ToShortDateString()
            </td>
            <td>
                @if (User.IsInRole("Teacher"))
                {
                    @Html.ActionLink("Activities", "ListActivities", "StudentActivities", new { id = item.Id }, new { })
                }
                else
                {
                    @Html.ActionLink("Activities", "StudentListActivities", "StudentActivities", new { }, new { })
                }

            </td>
        </tr>
    }

</table>
