@model IEnumerable<LMS.Models.StudentActivityViewModel>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Status
        </th>
        <th>
            Grade
        </th>
        <th>
            
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <th>

            </th>
        </tr>

        foreach (var doc in item.Documents)
        {
            <tr>
                <td>
                    @Html.DisplayFor(docItem => doc.Name)
                </td>
                <td>
                    @Html.DisplayFor(docItem => doc.Description)
                </td>
                <td>
                    @Html.DisplayFor(docItem => doc.Deadline)
                </td>
                <td>
                    @Html.ActionLink(
                        linkText: "Download",
                        actionName: "Download",
                        controllerName: "Documents",
                        routeValues: new { id = doc.Id, objectId = ViewBag.id, returnAction = "HandleClass", returnController = "StudentActivities" },
                        htmlAttributes: null
                    )
                </td>
            </tr>
        }
    }

</table>
