@model IEnumerable<LMS.Models.StudentActivityViewModel>

<h2>Module details</h2>
<h3>@ViewBag.moduleName</h3>
<h4>@ViewBag.moduleDescription</h4>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Status
        </th>
        <th>
            Grade
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityName)
            </td>
            <td id=@item.Status>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td id=@item.Grade>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.ActionLink(
                     linkText: "Manage Homework Files",
                     actionName: "ManageHomeworkFiles",
                     controllerName: "Documents",
                     routeValues: new { id = item.Id, objectId = ViewBag.id, returnAction = "StudentListActivities", returnController = "StudentActivities" },
                     htmlAttributes: new {}
                )
        </td>
        <td>
        </td>
    </tr>

        @*@<tr>
                <td>
                    <b>Documents</b>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            foreach (var doc in item.Documents)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(docItem => doc.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(docItem => doc.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(docItem => doc.Deadline)
                    </td>
                    <td>
                        @Html.ActionLink(
                            linkText: "Download",
                            actionName: "Download",
                            controllerName: "Documents",
                            routeValues: new { id = doc.Id, objectId = ViewBag.id, returnAction = "HandleClass", returnController = "StudentActivities" },
                            htmlAttributes: null
                        )
                    </td>
                    <td>
                    </td>
                </tr>
            }

            foreach (var doc in item.Homeworks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(docItem => doc.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(docItem => doc.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(docItem => doc.Deadline)
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>

                if (!string.IsNullOrEmpty(doc.Comments))
                {
                    <tr>
                        <td style="color: red;">
                            @Html.DisplayFor(docItem => doc.Comments)
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            }

            @*<tr>
                <td>
                    @Html.ActionLink(
                        linkText: "Manage Homework Files",
                        actionName: "ManageHomeworkFiles",
                        controllerName: "Documents",
                        routeValues: new { id = item.Id, objectId = ViewBag.id, returnAction = "StudentListActivities", returnController = "StudentActivities" },
                        htmlAttributes: new { }
                    )
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>*@
                }

</table>

<table class="table">
    <tr>
        <th>
            Uploader
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Filename
        </th>
    </tr>

    @foreach (var item in ViewBag.Documents)
    {
        <tr>
            <td>
                @item.Uploader.FullName
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @Html.ActionLink(
                    linkText: (string)item.FileName,
                    actionName: "Download",
                    controllerName: "Documents",
                    routeValues: new { id = item.Id, objectId = ViewBag.id, returnAction = "StudentListActivities", returnController = "StudentActivities" },
                    htmlAttributes: null
                )
            </td>
        </tr>
    }

</table>
