@model IEnumerable<LMS.Models.StudentActivityViewModel>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Status
        </th>
        <th>
            Grade
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
        </tr>

        foreach (var doc in item.Documents)
        {
            <tr>
                <td>
                    @Html.DisplayFor(docItem => doc.Name)
                </td>
                <td>
                    @Html.DisplayFor(docItem => doc.Description)
                </td>
                <td>
                    @Html.DisplayFor(docItem => doc.Deadline)
                </td>
            </tr>
        }
    }

</table>
