@model IEnumerable<LMS.Models.StudentActivityViewModel>

<h2>Module details</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Status
        </th>
        <th>
            Grade
        </th>
        @*<th></th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityName)
            </td>
            <td id=@item.Status>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td id=@item.Grade>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            @*<td>@Html.ActionLink(
                    linkText: "Upload Homework",
                    actionName: "Upload",
                    controllerName: "Documents",
                    routeValues: new { documentType = LMS.Models.Document.DocumentTypes.Homework, objectId = item.Id, returnAction = "StudentListActivities", returnController = "StudentActivities" },
                    htmlAttributes: new { }
                )</td>*@
            <td>@Html.ActionLink(
                    linkText: "Manage Homework Files",
                    actionName: "ManageHomeworkFiles",
                    controllerName: "Documents",
                    //routeValues: new { documentType = LMS.Models.Document.DocumentTypes.Homework, objectId = item.Id, returnAction = "StudentListActivities", returnController = "StudentActivities" },
                    routeValues: new { Id = item.Id },
                    htmlAttributes: new { }
                )</td>
        </tr>

        
        }

</table>

<table class="table">
    <tr>
        <th>
            Uploader
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Filename
        </th>
    </tr>

    @foreach (var item in ViewBag.Documents)
    {
        <tr>
            <td>
                @item.Uploader.FullName
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @Html.ActionLink(
                        linkText: (string)item.FileName,
                        actionName: "Download",
                        controllerName: "Documents",
                        routeValues: new { id = item.Id, objectId = ViewBag.id, returnAction = "ListActivities", returnController = "StudentActivities" },
                        htmlAttributes: null
                    )
            </td>
        </tr>
    }

</table>