@model  LMS.Models.Course

@{
    ViewBag.Title = "Index";
}

<h1>Student controller</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Start Date
        </dt>

        <dd>
            @Model.StartDate.ToShortDateString()
        </dd>

        <dt>
            End Date
        </dt>

        <dd>
            @Model.EndDate.ToShortDateString()
        </dd>
    </dl>
</div>
<div>
    <table class="table">
        <tr>
            <th>
                Module Name
            </th>
            <th>
                Description
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
        </tr>

        @foreach (var item in Model.Modules)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Modules", new { Id = item.Id }, new { })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.StartDate.ToShortDateString()
                </td>
                <td>
                    @item.EndDate.ToShortDateString()
                </td>
            </tr>
        }
    </table>

</div>
<p>
    @if (User.IsInRole("Teacher"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
</p>
