@model IEnumerable<LMS.Models.Module>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            Course Name
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @item.StartDate.ToShortDateString()
            </td>
            <td>
                @item.EndDate.ToShortDateString()
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (User.IsInRole("Teacher"))
                {
                    @: | @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
