@model LMS.Models.Activity
@using Microsoft.AspNet.Identity;
@using LMS.Controllers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Module
        </dt>
        <dd>
            @Html.ActionLink(@Model.Module.Name, "Details", "Modules", new { id = Model.Module.Id }, new { })
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Start Date
        </dt>

        <dd>
            @Model.StartDate.ToShortDateString()
        </dd>

        <dt>
            End Date
        </dt>

        <dd>
            @Model.EndDate.ToShortDateString()
        </dd>
    </dl>
</div>
<br />
<p>
    
    @if (User.IsInRole("Teacher"))
    {
        @Html.ActionLink("Back to list", "Index", "Activities", new { }, new { })
        @: | @Html.ActionLink("Create", "Create")
        @: | @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        @: | @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        @: | @Html.ActionLink("Manage class", "HandleClass", "StudentActivities", new { id = Model.Id }, null)
    }
</p>
