@model IEnumerable<LMS.Models.Course>
@using Microsoft.AspNet.Identity

@if (User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Create New", "Create", "Courses")
    </p>
}

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @item.StartDate.ToShortDateString()
            </td>
            <td>
                @item.EndDate.ToShortDateString()
            </td>
            <td>

                @Html.ActionLink("Details", "Details", "Courses", new { id = item.Id }, new { })
                @if (User.IsInRole("Teacher"))
                {
                    @: | @Html.ActionLink("Edit", "Edit", "Courses", new { id = item.Id }, new { })
                    
                }

            </td>
        </tr>
    }

</table>