@model LMS.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Start Date
        </dt>

        <dd>
            @Model.StartDate.ToShortDateString()
        </dd>

        <dt>
            End Date
        </dt>

        <dd>
            @Model.EndDate.ToShortDateString()
        </dd>
    </dl>
</div>
<br />
<div>
    <h4>Activities</h4>
    <table class="table">
        <tr>
            <th>
                Module Name
            </th>
            <th>
                Description
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
        </tr>

        @foreach (var item in Model.Modules)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Modules", new { Id = item.Id }, new { })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.StartDate.ToShortDateString()
                </td>
                <td>
                    @item.EndDate.ToShortDateString()
                </td>
            </tr>
        }
    </table>

</div>
<br />
<div>
    <h4>Attending Students</h4>
    <table class="table">
        <tr>
            <th>
                Username
            </th>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
        </tr>
        
            @foreach (var item in Model.CourseParticipants)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(u => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(u => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(u => item.LastName)
                    </td>
                </tr>
            }
    </table>
</div>

<p>
    @Html.ActionLink("Back to list", "Index", "Courses", new { }, new { })
    @if (User.IsInRole("Teacher"))
    {
        if (!Model.Name.ToLower().Equals("none"))
        {
            @: | @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        }
        
        @: | @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
</p>
