@model IEnumerable<LMS.Models.StudentActivityViewModel>

@{
    ViewBag.Title = "ManageHomeworkFiles";
}

<h2>Manage Homework Files</h2>
<h4>Activity: @Model.FirstOrDefault().ActivityName</h4>

@{ 
    var status = Model.FirstOrDefault().Status.ToString();
    var grade = Model.FirstOrDefault().Grade.ToString();
    @: <b>Status:</b> <span id="@status">@status</span>
    @: <br />
    @: <b>Grade:</b> <span id="@grade">@grade</span>
}


<h4>Documents</h4>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Deadline</th>
            <th></th>
            <th></th>
        </tr>

        foreach (var doc in item.Documents)
        {
            <tr>
                <td>
                    @Html.DisplayFor(docItem => doc.Name)
                </td>
                <td>
                    @Html.DisplayFor(docItem => doc.Description)
                </td>
                <td>
                    @Html.DisplayFor(docItem => doc.Deadline)
                </td>
                <td></td>
            </tr>
        }

        foreach (var doc in item.Homeworks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(docItem => doc.Name)
                </td>
                <td>
                    @Html.DisplayFor(docItem => doc.Description)
                </td>
                <td>
                    @Html.DisplayFor(docItem => doc.Deadline)
                </td>
                <td>
                    @Html.ActionLink(
                        linkText: "Download",
                        actionName: "Download",
                        controllerName: "Documents",
                        routeValues: new { id = doc.Id, objectId = ViewBag.id, returnAction = "StudentListActivities", returnController = "StudentActivities" },
                        htmlAttributes: null
                    )
                </td>
                <td>
                    @Html.ActionLink(
                        linkText: "Delete",
                        actionName: "Remove",
                        controllerName: "Documents",
                        routeValues: new { id = doc.Id, objectId = ViewBag.id, returnAction = "StudentListActivities", returnController = "StudentActivities" },
                        htmlAttributes: null
                    )
                </td>
            </tr>
        }

        <tr>
            <td>
                @Html.ActionLink(
                        linkText: "Upload Homework",
                        actionName: "Upload",
                        controllerName: "Documents",
                        routeValues: new { documentType = LMS.Models.Document.DocumentTypes.Homework, objectId = item.Id, returnAction = "StudentListActivities", returnController = "StudentActivities" },
                        htmlAttributes: new { @class = "btn btn-primary btn-md" }
                    )
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
</table>
